### Print function in python

In [1]:
print('Hello')

Hello

In [2]:
print(4)

4

In [3]:
print("Vipul","Varun", "Karitk", "Arjun", "Lakshya")

Vipul Varun Karitk Arjun Lakshya

In [4]:
# Use of sep in print where we can insert special charcters in between our stings, values
print("Vipul","Varun", "Karitk", "Arjun", "Lakshya", sep='/')

Vipul/Varun/Karitk/Arjun/Lakshya

In [5]:
print("Vipul","Varun", "Karitk", "Arjun", "Lakshya", sep='-')

Vipul-Varun-Karitk-Arjun-Lakshya

In [6]:
print("Hello")
print("world")

Hello
world

In [11]:
# Using end ='' we can print the different lines in single one without going to next line + we can also control the number of spaces
print("Hello",end='            ')
print("world")

Hello            world

### Data types of python
##### Basic type --> interge, float, boolean, float, string 
##### container type --> List, Tuples, Sets, Dictionary
##### User-defined type --> class, objects

In [19]:
# integer
print(5)
print(1e308)

# Max size of integer possible in python after which it will show infinity

5
1e+308

In [20]:
# float
print(4.5)
print(1.7e308)

# Max size of integer possible in python after which it will show infinity

4.5
1.7e+308

In [ ]:
# Boolean
print(True)
print(False)

In [23]:
# Complex
print(4+6j)

(4+6j)

In [26]:
# Strings 
print('Hello')
print("Hello")
print("""Hello""")

Hello
Hello
Hello

In [29]:
# Lists
print([4,46,756,34,65])

# Ordered(index-based), Mutable, and allow duplicates

[4, 46, 756, 34, 65]

In [30]:
# Tuples
print((3,54,54,64,64,34,))

# Ordered(index-based),Immutable, and allow duplicates

(3, 54, 54, 64, 64, 34)

In [31]:
# Sets
print({3,454,545,45,4,5,4,})

# Unordered, Mutable, and does not allow duplicates

{545, 3, 4, 5, 454, 45}

In [35]:
# Dictonary 
print({"Name":"Vipul", "Age":"24", "Gender":"Male"})


# It is the set of key and value pairs 
# Ordered, Mutable, and does not allow duplicate keys

{'Name': 'Vipul', 'Age': '24', 'Gender': 'Male'}

### Another important concept in python is variable which stores the value or string 
##### Dynamic typing--> Declaration of variable is not necessary --> PHP, Python
##### Static typing --> Declaration of variable before using is necessary  --> C, C++, Java

In [42]:
name='Vipul'

In [44]:
print(name)

Vipul

In [55]:
# Dynamic binding --> A single varibale can store multiple datatypes.Python variables are not bound to a specific data type at the time of declaration. 
# The type of the object a variable refers to can change dynamically at runtime.


# The opposite of this is static binding where the datatype remains same throughout the program

In [47]:
name='hello'

In [48]:
print(name)

hello

In [49]:
name='4545'

In [50]:
print(name)

4545

In [53]:
name=34545+353454

In [54]:
print(name)

387999

In [56]:
# Special Syntax in python

a='23';b='3434';c="Hello"
print(a)
print(b)
print(c)

23
3434
Hello

In [58]:
a,b,c ='23','2323','Hello'
print(a)
print(b)
print(c)

23
2323
Hello

###  Keywords and Identifiers in python
##### Keywords are reserved words in Python that have special meanings and cannot be used as variable names, function names, or any other identifier. 
#####  Identifiers are the names given to variables, functions, classes, or other entities in Python.
##### Case-Sensitive: Identifiers are case-sensitive (name and Name are different).
##### Start with a letter or underscore (_): Identifiers cannot start with a number.
##### Only letters, numbers, and underscores allowed: You cannot use special characters like @, #, $, etc., in identifiers.

In [60]:
# printing all the keywords in python'
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### taking input and type conversion
##### There are bsically two types of software --> static software(without input) & dynamic software(with input and can interact with user)

##### The output of any value taken thorugh the funntio named as input always comes in the string

In [2]:
 # This is the actual and complete way of writing and taking input but we can remove prompt and it will also work
input(prompt='Enter your name buddy')

Enter your name buddy vipul

'vipul'

In [3]:
input("enter the name")

enter the name Vipul Baliyan

'Vipul Baliyan'

In [9]:
# trying to find the sun using sting function
f1=input("Enter first number")
f2=input("Enter second number")

Enter first number 23424
Enter second number 454353

In [10]:
print(f1)
print(f2)

23424
454353

In [11]:
sum = f1 + f2
print(sum)

# Here the value will not be the sum of two numbers because the input we get from is in the string form so it will join the strings together and display a single value

23424454353

In [12]:
# There are basically two types of type conversion in python  and it is not a permanant operation which can change the previous value of data
# Implicit --> Automatically done by Python when it converts one data type to another without user intervention.
# Explicit --> Manually done by the programmer using predefined Python functions to convert data types.
# Type casting is permanent and type conversion is temporary

In [14]:
# Using type conversion we can easily now find the sum of two numbers 
sum = int(f1)+ int(f2)
print(sum)

477777

### Literals in python --> literals are constant values that are directly assigned to variables or used in the code. They represent fixed values and do not change during the execution of the program. 
##### Numeric literals -->[interger, float, complex]
##### String literals  -->[single line, multiple lines]
##### Boolean literals -->[true, false]
##### Special literals -->[none]

In [25]:
a=0b1010 #binary literal
b=100 #decimal literal 
c=0o310 #octal litersl
d=0x12c #hexagonal literal


#float literals
float_a=10.4
float_b=1.6e5
float_c=1.5e-3


#complex literals 
f=3+6j

In [27]:
print(a,b,c,d)
print(float_a,float_b,float_c)
print(f,f.imag,f.real)

10 100 200 300
10.4 160000.0 0.0015
(3+6j) 6.0 3.0

In [37]:
# Strnig literals
# Everything is sting there is no char datatype in python
# no difference between ' ' and " "
# unicode string allows us to print emojies and special charcter
# raw sting is used if we want to use python

name='Vipul'
college="Gurukul kangri"
multiline_str= """It bsically stores large data or string with multiple lines
 and now i am writing the another line just to check whether i can print 
 multile lines useing 3 interted commas"""
unicode= u"\u2665\u2602\u262F\u263A\u2713 "
raw_str=r"raw \n string"

print(name)
print(college)
print(multiline_str)
print(unicode)
print(raw_str)

Vipul
Gurukul kangri
It bsically stores large data or string with multiple lines
 and now i am writing the another line just to check whether i can print
 multile lines useing 3 interted commas
♥☂☯☺✓
raw \n string

In [36]:
# Boolean literal
val1=True+34
val2=False-23

print(val1)
print(val2)

# python itself consider True = 1 and False = 0 by default

35
-23

In [39]:
# Special literal --> NONE -->None is a special literal in Python that represents the absence of a value or a null value.

a=None
print(a)

None

### Operators in python
##### Arithmetic operators --> {a + b } {a - b} {	a * b} {a // b} {a / b} {a % b} {a**b}
##### Comparision/relational operators -->  {==,!=,>=,<=,<,>}	
##### Logical operators --> {and , or , not}
##### Assignment operators --> =, +=, -=, *=,/=, **=, //=
##### Bitwise operators --> &(Bitwirse and), |(bitwise OR), ^(bitwise XOR), ~(bitwise not), <<(bitwise left shift), >>(bitwise right shift)
##### Identity operators --> is, is not
##### Membership operattors --> in, not in

In [40]:
x=10
y=3

In [50]:
# Arithmetic operators

print(x+y)
print(x-y)
print(x/y)
print(x//y) # It prints the value without decimal part or float part
print(x**y)
print(x*y)

13
7
3.3333333333333335
3
1000
30

In [51]:
# Comparision or relational operators

print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x!=y)

True
False
True
False
True

In [52]:
# Logical operators 

x=True
y=False

print(x or y)
print(x and y)
print( not y)
print(not x )

True
False
True
False

In [60]:
# Bitwise operators works on binary values 

x=2   #010
y=3   #110

print(x & y)
print(x | y)
print(~ y)
print(x ^ y)
print(x >> y)
print(x << y)

2
3
-4
1
0
16

In [70]:
# Identity operators check whether two values are stored at the same location or not
a=2
b=2
print(a is b)
print(a is not b)

True
False

In [66]:
a=([1,3,5])
b=([1,3,5])
print(a is b)
# Here we can understand that if two values seems to be same it does not mean they are located at same place or memory location

False

In [69]:
# Membership operator tells whether particular member is the part of string or any bigger value or not
x='Mona'
print( 'M' in x)
print( 'M' not in x)

True
False

### Decision Control statements or if else statements

In [12]:
# correct email - vipulbaliyansfs@gmail.com
# correct passward - 1234

email = input("Enter your email")
passward = input("Enter your passward")

if email == "vipulbaliyansfs@gmail.com" and passward == "1234" :
    print("Welcome Vipul")
elif email == "vipulblaiyansfs@gmail.com" and passward != "1234":
    print("Passward is wrong enter again")
    passward = input("Please enter the correct passward")
    if passward == "1234":
        print("Finally the entered passward is correct")
    else:
        print("Your passward is still incorrect")
    
else:
   print("Incorrect cerredentials")

Enter your email vipulbaliyansfs@gmail.com
Enter your passward 1234

Welcome Vipul

### Indentation in python --> Indentation in Python is crucial because it defines the structure of the code, especially for blocks such as loops, conditional statements, functions, and classes. Unlike other programming languages that use braces {} to define blocks of code, Python uses indentation (usually four spaces or a tab).

### Loops in python --> In Python, loops are used to iterate over a sequence (like a list, tuple, string, or range) or repeat a block of code while a condition is met.
##### There are two types of loops in python - for loop and while loop

In [14]:
number = int(input("Number bata bhai"))
i = 1
while i<11:
    print(number*i)
    i+=1

Number bata bhai 11

11
22
33
44
55
66
77
88
99
110

### Guessing Game

In [15]:
import random

In [17]:
random.randint(1,100)

66

In [23]:
jackpot = random.randint(1,100)
guess = int(input("Chal beta guess krr"))
counter =1

while jackpot != guess:
    if guess < jackpot:
        print("Guess higher")
    else:
        print("Guess Lower")
    guess = int(input("Chal beta guess krr"))  
    counter+=1
print("Sahi jawab")
print("You took",counter,"attempt")

Chal beta guess krr 56

Guess Lower

Chal beta guess krr 30

Guess higher

Chal beta guess krr 35

Guess higher

Chal beta guess krr 37

Guess higher

Chal beta guess krr 39

Guess higher

Chal beta guess krr 45

Guess Lower

Chal beta guess krr 44

Guess Lower

Chal beta guess krr 42

Guess higher

Chal beta guess krr 43

Sahi jawab
You took 9 attempt

### For loops

In [28]:
# range function
list(range(5)) # Start number is automatically assumed to be zero

[0, 1, 2, 3, 4]

In [27]:
list(range(5,10))

# last number is excluded in the range function

[5, 6, 7, 8, 9]

In [31]:
# use of step
tuple(range(5,15,2)) # here 2 is used as step which gives the gap of 2 between the numbers

(5, 7, 9, 11, 13)

In [34]:
list(range(10,0,-1)) # we can also use negative number for backward counting

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [35]:
                          # Sequence
#In Python, a sequence is an ordered collection of elements, where each element has a specific position (or index) in the sequence.
#Sequences allow access to elements by their index and support various operations like slicing, concatenation, and repetition.
#Common types of sequences in Python include lists, tuples, strings, and range objects.

In [37]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [38]:
for i in "kolkata":
    print(i)

k
o
l
k
a
t
a

In [39]:
# If we know how many times out loop will work we should use for loop and if we don't know how many times our loop will work use while loop

In [52]:
# Nested loops 
bb = int(input("Enter the number"))

for i in range(1 , bb+1):
    for j in range(0,i):
        print("*",end=" ")
    print("")

Enter the number 6

*
* *
* * *
* * * *
* * * * *
* * * * * *

### Break, continue, pass

In [54]:
# Break --> It stops the loop after the particular condition is met
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [59]:
# Continue --> It skips the particular iteration on which we have applied it
for i in range(10,21):
    if i== 16:
        continue
    print(i)

10
11
12
13
14
15
17
18
19
20

In [63]:
# pass --> If we don't want to write any code to any loop or any such condition we use pass to run the rest of the program smoothly
for i in range (1,23,3):
    pass

### Funtions and modules in python
##### In Python, functions are reusable blocks of code designed to perform specific tasks. They allow you to organize your code, avoid repetition, and improve clarity by breaking down complex problems into smaller, manageable parts. Functions can accept input (arguments), perform operations, and return output (results).

In [80]:
# Built in funtions in python

In [79]:
# print()

print("Hey, this function can print anything you pass in double or single quotes")

Hey, this function can print anything you pass in double or single quotes

In [71]:
# type()

a=23
b='12'
c=True
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'bool'>

In [76]:
# int etc.

a=3.5
b='23'
print(int(a))
print(int(b))
print(str(a))

3
23
3.5

In [78]:
# abs --> prints the absoulute value

a=(-454)
abs(a)

454

In [82]:
# power

pow(2,3)

8

In [86]:
# min/max --> can work on both string as well as integer

print(min([23,345,45,2,23,9]))
print(max((23,53,5,54,54,5,45,4,545,4342)))
print(max("mumbai"))
print(min("dhokla"))

2
4342
u
a

In [88]:
# round   --> round off the decimal part

a=22/7
round(a,2)

3.14

In [89]:
# divmod --> returns the remainder(%) as well as value without decimal place after division(//)

divmod(5,2)

(2, 1)

In [90]:
# bin/oct/hex

print(bin(2432))
print(oct(23423))
print(hex(232))

0b100110000000
0o55577
0xe8

In [93]:
# id  --> It tells the id of location at which this value is stored in memory

a=2334
id(a)

2014863651504

In [95]:
# ord --> It gives the ASCII value of any string

print(ord('B'))
print(ord('g'))

66
103

In [97]:
# len()  --> gives the length of any tuple, list ,variable, string

print(len([23,234,34,34,34,233,4,234,234234,54]))

10

In [98]:
# sum()   --> sum() function returns  the sum of all the values presnt in any list, tuple, dicrionary etc....

print(sum([35423,34,34,24,234,23,4,2334,2,9]))

38121

In [99]:
# help()  --> help funtion helps us to read about the properties of any other function presnt in python 

help('input')

Help on method raw_input in module ipykernel.kernelbase:

input = raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.



### Build in modules in python --> math, random, os, time

###### module--> A file containing set of functions you want to include in your program/application

In [ ]:
help('modules')

Please wait a moment while I gather a list of all available modules...

In [1]:
import math

In [2]:
math.pi

3.141592653589793

In [3]:
math.e

2.718281828459045

In [4]:
math.factorial(5)

120

In [5]:
math.ceil(5.5)

6

In [6]:
math.floor(5.9)

5

In [7]:
math.sqrt(100)

10.0

In [23]:

# Random module

In [8]:
import random

In [9]:
random.randint(1,23)

14

In [13]:
a=[23,23,4,23,23,2,3,23,2,3,24,2]
random.shuffle(a)           # It shuffles the list,tuple in different way every time we run it
a

[3, 23, 23, 2, 3, 23, 2, 23, 23, 24, 2, 4]

In [25]:

# time module

In [14]:
import time

In [16]:
# time.time() is a function from the time module that returns the current time in seconds since the epoch (which is January 1, 1970, 00:00:00 UTC). 

time.time()

1726286174.480633

In [17]:
# current time

time.ctime()

'Sat Sep 14 09:26:46 2024'

In [20]:
print("hello")
time.sleep(2)  # takes 2 second to print the another result
print('world')

hello
world

In [26]:

# os moduke

In [21]:
import os

In [28]:
os.getcwd()  # get the current working directory

'C:\\Users\\vipul\\Python from Basics to advanced'

In [30]:
os.listdir()   # prints all the files presnt in current directory

['.ipynb_checkpoints', '5_days_python.ipynb']

### Strings in pyton
##### Strings are sequence of characters 
##### In python specially strings are sequence of Unicode(Initially it was ASCII) characters

In [2]:
c="Hello"
print(c)

Hello

In [4]:
# Positive indexing starts from 1
print(c[0])

H

In [5]:
# Negative indexing starts from right and move towards left and last digit in string is -1
print(c[-1])

o

In [6]:
# Slicing 
a = "Hello World"
print(a)

Hello World

In [7]:
print(a[0:5])

Hello

In [8]:
print(a[5:11])

 World

In [9]:
print(a[2:])

llo World

In [10]:
print(a[:10])

Hello Worl

In [11]:
print(a[0:11:3])

HlWl

In [13]:
# It reverses the string 
print(a[::-1])

dlroW olleH

In [14]:
# Strings are immutable data type
# In strings we cannot add new character , we can't delete specified index charcter , we can only delete whole string using del

In [17]:
# operations in strnigs

"Hello" + " " + "World" # Contatenation

'Hello World'

In [18]:
print("*"*10)

**********

In [21]:
print("hello"*10)

# We can use + and * operator in strings

hellohellohellohellohellohellohellohellohellohello

In [23]:
# Lexiographically --> It means the word which comes first according to dictionary is greater

"Muzaffarnagar">"shamli"

False

In [25]:
"Delhi" < "Haryana"

True

In [27]:
"kol" > "Kol"  # Small letters ocmes first and capital letter comes later

True

In [28]:
                                             # Using logical operators with string
# Any empty sting " " in python is by default assumed as False(0)
# Any non-empty sting "dfjkdhfjksh" in python is by default assumed as True(1)

In [29]:
"" and "dfk"
# False(0) and True(1) --> It will return False

''

In [30]:
"" or "gfsdgsa"

'gfsdgsa'

In [31]:
not ""

True

In [32]:
c = "Hello World"
for i in c:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [34]:
# Membership operators
"H" in c

True

In [35]:
"Y" in c

False

### Functions in Stings

In [45]:
# Common functions

c ="Hello World"

In [38]:
len(c)

11

In [41]:
max(c) # Tells the maximum according to ASCII

'r'

In [46]:
min(c)

' '

In [48]:
sorted(c) # Print sorted according to their ASCII values

[' ', 'H', 'W', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r']

In [49]:
sorted(c,reverse=True)

['r', 'o', 'o', 'l', 'l', 'l', 'e', 'd', 'W', 'H', ' ']

In [50]:
# Capitalize/Upper/Lower/Swapcase

In [51]:
c="it is raining today"

In [53]:
c.capitalize() # Makes the first letter Capital of any sentence

'It is raining today'

In [55]:
c.title()  # Makes the first letter capital of every word in the sentence

'It Is Raining Today'

In [57]:
c.upper() # Converts the whole sentence into capital

'IT IS RAINING TODAY'

In [59]:
c.lower() # Converts the whole sentence into smaller alphabets

'it is raining today'

In [61]:
c.swapcase() # Converts Upper to lower and lower to upper case

'IT IS RAINING TODAY'

In [63]:
# To find the frequency of any substring in any string 
c.count("t")

2

In [67]:
# Find/index  --> Gives the index of any substring and if we have more than 1 character of same type then it will give the index of 1st one
c.find("t")

1

In [68]:
c.endswith("today")

True

In [69]:
c.startswith("it")

True

In [70]:
c.endswith('dff')

False

In [73]:
# format

a="Hello my name is {} and I am {} years old"
a.format("Vipul", 35)

'Hello my name is Vipul and I am 35 years old'

In [75]:
a="Hello my name is {1} and I am {0} years old"
a.format("Vipul", 35)                      # It uses the index and prints accordingly , we changed the index and see the results

'Hello my name is 35 and I am Vipul years old'

In [76]:
a="Hello my name is {name} and I am {age} years old"
a.format(name="Vipul", age=35)

'Hello my name is Vipul and I am 35 years old'

In [78]:
"Flat20".isalnum()  # checks if string is the combination of both alphabet and numeric

True

In [81]:
print("hafhdjhsjh".isalpha())
print("djfksjdfkj398498".isalpha())

True
False

In [82]:
"2323".isdigit()

True

In [86]:
print("hello world".isidentifier())
print("hello_world".isidentifier())  # Checks whether it can be used as an identifier in python or not

False
True

In [94]:
# split(0) --> It converts the string into a list 

"Hey this is vipul baliyan an aspiring data scientist".split()

['Hey',
 'this',
 'is',
 'vipul',
 'baliyan',
 'an',
 'aspiring',
 'data',
 'scientist']

In [101]:
# join() --> The opposite of split() function

" ".join(['Hey','this','is','vipul','baliyan','an','aspiring','data','scientist'])

'Hey this is vipul baliyan an aspiring data scientist'

In [102]:
"/".join(['Hey','this','is','vipul','baliyan','an','aspiring','data','scientist'])

'Hey/this/is/vipul/baliyan/an/aspiring/data/scientist'

In [103]:
"*".join(['Hey','this','is','vipul','baliyan','an','aspiring','data','scientist'])

'Hey*this*is*vipul*baliyan*an*aspiring*data*scientist'

In [105]:
# replace()
"Hi my name is vipul".replace("vipul","Nitish")

'Hi my name is Nitish'

In [107]:
# strip --> Removes the tailing and start spaces 

c="              Hey how are you                 "

In [108]:
c.strip()

'Hey how are you'

### List in Python
##### Arrays vs List --> Arrays are homogeneous(same data type) whereas lists are heterogeneous(different data types)
##### Arrays are stored at contagious memory location which is not in case of lists
##### Arrays are faster as compared to list and take less time to traverse

In [2]:
l=[23,343,34,343,45]
print(l)

[23, 343, 34, 343, 45]

In [6]:
m=[23,[234,34],34,65,23]
print(m)

[23, [234, 34], 34, 65, 23]

In [14]:
# Accessing elements from a list is almost same as in case of strngs
n=[23,432,[534,2432,[234,34,34,34]]]
print(n)

[23, 432, [534, 2432, [234, 34, 34, 34]]]

In [8]:
n[0]

23

In [15]:
n[-1][-1][0]  # No of brackets used depends on the dimension of list we have

234

In [18]:
# Lists in python are mutable so they can be edited easily
n[1]=100
n[-1]=400
print(n)

[23, 100, 400]

In [22]:
n[0:2]=100,200,300,500
print(n)

[100, 200, 300, 500, 300, 500, 300, 400]

In [23]:
# If we want to add elements to a list it can be done using --> append,extend,insert

In [25]:
# append() function add the element to the last of any list
n.append('vipul')
print(n)

[100, 200, 300, 500, 300, 500, 300, 400, 'vipul', 'vipul']

In [30]:
# extend() funtion --> we can add multiple elements together at the end of any list
n=[12,323,23,67,97]
n.extend([34,234,"Let's go"])
print(n)

[12, 323, 23, 67, 97, 34, 234, "Let's go"]

In [34]:
# insert() funtion --> We can add any element at any desired positon we want
n.insert(3,999999)
print(n)

[12, 323, 23, 999999, 22, 22, 22, 67, 97, 34, 234, "Let's go"]

In [35]:
# For deleting we have for ways to do in python
# delete
# remove 
# pop
# clear

In [39]:
del n  -- deleted the whole list

SyntaxError: cannot delete expression (2826157817.py, line 1)

In [42]:
del m[0]
print(m)

[65, 23]

In [49]:
# remove() function --> If we don't know the index of any element we can use the name of element to delete it
a=[34,45,234,546,6868,342,99,67786,700]
a.remove(45)
print(a)

[34, 234, 546, 6868, 342, 99, 67786, 700]

In [51]:
a.remove(234)
print(a)

[34, 546, 6868, 342, 99, 67786, 700]

In [52]:
# pop() function removes the items from the end of list
a.pop()
print(a)

[34, 546, 6868, 342, 99, 67786]

In [53]:
# clear() --> It makes the list empty which means it does not delete the list
a.clear()

In [55]:
print(a)  # Her clearly we can see no elements are present in the list but the list still exists

[]

In [56]:
# some operations in list

L1=[1,2,3,4]
L2=[5,6,7,8]

In [58]:
# Concatenation does not change the values of list but it create the new list and the previous lists still remains same
L3 = L1 + L2
print(L3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [60]:
L3*2  # It repeats the list values two times

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [61]:
for i in L3:
    print(i)

1
2
3
4
5
6
7
8

In [62]:
# we can also use certain functions in list
len(L3)

8

In [63]:
max(L3)

8

In [66]:
sorted(L3,reverse=True)

[8, 7, 6, 5, 4, 3, 2, 1]

In [67]:
# sorted is not a permanent change but L.sort is a permanent change 
L3.sort(reverse=True)

In [68]:
print(L3)

[8, 7, 6, 5, 4, 3, 2, 1]

In [72]:
L3.sort(reverse=False)

In [73]:
print(L3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
### Some problems

In [85]:
# tiele case
sample='how are you?'
sample.split()

L= []
for i in sample.split():
    i.capitalize()
    L.append(i.capitalize())
    print("".join(L))

How
HowAre
HowAreYou?

In [86]:
# print name before @ in any gmail address -- vipulbaliyansfs@gmail.com
sample='vipulbaliyansfs@gmail.com'
print(sample[:sample.find('@')])

vipulbaliyansfs

In [98]:
# remove duplicates from the list and print the new one
l1=[1,1,2,3,3,4,5,5,5,6,6,6,7,7,7,7,78,88,8,8,8,8,8]

L=[]
for i in l1:
    if i not in L:
        L.append(i)
        L.sort()
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 78, 88]

### Tuples --> They are almost same as list with some major differences

In [107]:
# we cannot create single tuple just by passing values but we also have to use a comma after the entered element
a=("hello")  
print(a) 
type(a)           # a tuple is not created

hello

str

In [106]:
a=("hello",)
print(a) 
type(a) # this is tuple

('hello',)

tuple

In [110]:
# we can also create tuple using type conversion
T1= tuple("google")
print(T1)

('g', 'o', 'o', 'g', 'l', 'e')

In [113]:
# tuples are immutable we cannot edit and change 
# tupeles are read only datatypes

### Sets in python
##### Cannot use duplicates in sets
##### Sets have no indexing/slicing
##### Sets does not allow mutable data types
##### Set itself is a mutable data type  / No 2D SETS

In [114]:
# create

In [116]:
s={}
type(s)   # By default a dictionary is created by using this syntax

dict

In [119]:
s=set()
type(s)  # This is the correct way of creating an empty set

set

In [122]:
s={1,2,3,4,5,6,7,8,9}
print(s)            # Homogeneous items

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [124]:
s={2,"Hello",6.4,True}
print(s)                  # Set using heterogeneous items

{'Hello', 2, 6.4, True}

In [128]:
# what if we use duplicates in sets let's see
s={1,2,2,2,343,454,44,4,44,6,6,77,77,6,8,8}
print(s)


# we can clearly see set only displays unique items

{1, 2, 4, 454, 6, 8, 44, 77, 343}

In [129]:
s={[2,34],"Hello"}         
print(s)              # we are unable to use mutable datatypes(list) in sets

TypeError: unhashable type: 'list'

In [131]:
s={(2,34),"Hello"}         
print(s)   # Here Hello is printed first and then the tuple(which is immutable) 
# It is because we do not have indexing in sets rather it use hashing

{'Hello', (2, 34)}

In [132]:
# We cannot edit or access items in sets using indexing and all its not possible
# But if we use type conversion which means change set to list ,edit list and then list to edit ..it will work but its not editing set actually

In [141]:
S1={12,2,3,66}
id(S1)

2322074180672

In [142]:
S1={12,2,3,66}   # we can use add to make changes in set of add items 
S1.add(77)
print(S1)
id(S1)

{2, 3, 66, 12, 77}

2322074182240

In [143]:
# We have 3 ways of deletion in sets
# del --> deletes the whole set at a time 
# remove --> It removes the particular item entered by user from the sets
# pop() --> It removes the last item and here the items are stored using hashing technique

In [145]:
# Contatenation and multiplication does not works in sets 
# funtions like len(), min(), Max(), loops,sorted,sort(), sum() easily works in sets

In [149]:
# UNION 
s1={1,2,3,4,5,6,10}
s2={5,6,7,8,9,10}
s1.union(s2)           # prints all the unique items of both the sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [151]:
# INTERSECTION                         # Items present in both the sets
s1.intersection(s2)

{5, 6, 10}

In [156]:
# DIFFERENCE                     # Displays items present in one set which are not in another set
s1.difference(s2)     # Items which are present in s1 only

{1, 2, 3, 4}

In [157]:
s2.difference(s1)    # Items which are present in s2 only

{7, 8, 9}

In [159]:
# SYMMETRIC_DIFFERENCE         # Items which are not in both the sets

s1.symmetric_difference(s2)                     # Prints unique item of s1 as well as s2

{1, 2, 3, 4, 7, 8, 9}

In [162]:
# ISDISJOINT()
s1.isdisjoint(s2)            # tells if two sets are disjoint or not

False

In [163]:
s1.issubset(s2)        # Is s1 the subset of s2

False

In [165]:
s1.issuperset(s2)      # Is s1 the superset of s2

False

### DICTIONARY
##### Dictionary has no indexing
##### It is mutable
##### keys->Immutable, values-> they can be mutable
##### keys shoud be unique

#### Mutable --> lists, sets, dictionary
#### Immutable --> strings, tuples, int, float , complex

In [1]:
d = {"Name":"Vipul", "Age":"24","Gender":"Male"}

In [2]:
d

{'Name': 'Vipul', 'Age': '24', 'Gender': 'Male'}

In [9]:
# Keys should always be immutable
# d1={[1,2,3]:"Vipul"}            # Since we are using list which is mutable it throws error cause lists are mutable 
d2={(1,2,3):"Vipul"}                # Here we used tuples and code is running successfully

In [7]:
d2

{'(1,2,3)': 'Vipul'}

In [13]:
# Keys should be unique
d3={"Name":"Baliyan", "Name":"ViPul"}
d3                       # It means it is updating the name i.e keys should be uniquee

{'Name': 'ViPul'}

In [16]:
d3['Name']

'ViPul'

In [17]:
# 2D dictionary

d4 = {'Name':'VIPUL', 'College':'GKV', 'Marks':{'M':89,'DA':99,'Eng':77}}
d4

{'Name': 'VIPUL', 'College': 'GKV', 'Marks': {'M': 89, 'DA': 99, 'Eng': 77}}

In [18]:
d4['Marks']['DA']

99

In [19]:
d4['Name']='Vipul'
d4

{'Name': 'Vipul', 'College': 'GKV', 'Marks': {'M': 89, 'DA': 99, 'Eng': 77}}

In [20]:
d4['Age']='34'
d4

{'Name': 'Vipul',
 'College': 'GKV',
 'Marks': {'M': 89, 'DA': 99, 'Eng': 77},
 'Age': '34'}

In [21]:
del d4['College']
d4

{'Name': 'Vipul', 'Marks': {'M': 89, 'DA': 99, 'Eng': 77}, 'Age': '34'}

In [22]:
# Concatenation and multiplication does not work with dictionary

In [23]:
for i in d4:
    print(i)           # Only keys are printed ...Values are not printed

Name
Marks
Age

In [26]:
for i in d4:
    print(i,d4[i])      # If you want to print both key and value

Name Vipul
Marks {'M': 89, 'DA': 99, 'Eng': 77}
Age 34

In [2]:
# Dictonary cmprehension --> it is writing compact code (10 lines code to 1 line) 
# syntax --> {key:value forloop}
nums={1,2,3,4,5,6,7}
print({num : num**2 for num in nums})

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

### Call by object reference -->When you pass a mutable object (like a list), Python passes the reference to the object, so any changes to the object inside the function will affect the original.When you pass an immutable object (like an integer or string), Python passes the reference to the value, but since the object itself is immutable, any modifications inside the function result in a new object, leaving the original unchanged.

####  Aliasing --> In Python, aliasing refers to the situation where two or more variables refer to the same object in memory. This means that if you modify the object through one variable, the changes will be reflected when you access it via another variable, since both variables are pointing to the same object.

In [27]:
a=5
b=a

In [28]:
id(a)

140711529626168

In [29]:
id(b)

140711529626168

#### Reference count --> There is a funtion in python getrefcount() which tells how many variables are referring the same memory location and we have to add 1 reference more for the funtion itself which itself refers while counting

In [44]:
a=717

In [45]:
b=a

In [46]:
c=b

In [47]:
import sys
sys.getrefcount(a)

4

### Garbage Collection
##### Garbage collection in Python refers to the process of automatically identifying and reclaiming memory that is no longer in use by the program, freeing up resources and preventing memory leaks.
##### 1. Reference Counting:
###### Python keeps track of how many references (variables, objects) are pointing to an object in memory. This is called the reference count.
#### 2. Generational Garbage Collection (Cycle Detection):
##### Python uses a cyclic garbage collector to handle reference cycles — cases where objects reference each other, making it impossible for reference counting alone to detect that they are no longer needed.

#### Python organizes objects into three generations:

##### Generation 0: Newly created objects.
##### Generation 1 and Generation 2: Objects that survive garbage collection (i.e., those that are not deleted) are moved to older generations.

### Functions in Python
##### In Python, a function is a reusable block of code designed to perform a specific task. Functions help make programs more modular, readable, and easier to maintain. You can pass data to functions (parameters), execute some logic, and return results.
##### Abstraction 
##### Abstraction means hiding the complex details and exposing only the essential features of something. In Python, abstraction in functions involves creating functions to perform a task without revealing the internal workings of that task to the user. 
#### Decomposition
##### Decomposition is the process of breaking down a complex problem or system into smaller, more manageable parts. In Python, this is done by dividing tasks into smaller functions, each responsible for a specific part of the problem.

In [48]:
# function for even odd
def is_even(number):
    '''
    This function tells if a given number is even or odd
    input-any valid interger
    output - odd/even
    created by - Vipul Baliyan
    date - 20 sept , 2024
    '''
    if number % 2==0:
        return 'even'
    else:
        return 'odd'

In [49]:
# Calling a function

for i in range(1,11):
    print(is_even(i))

odd
even
odd
even
odd
even
odd
even
odd
even

In [50]:
# Print documentation
print(is_even.__doc__)

    This function tells if a given number is even or odd
    input-any valid interger
    output - odd/even
    created by - Vipul Baliyan
    date - 20 sept , 2024

### Arguments in python functions
#####  Python, arguments are values passed to functions when they are called. They allow functions to receive inputs and work with dynamic data. Python supports several types of arguments that provide flexibility in how functions are written and used.
##### Default Arguments
##### Positional Arguments
##### Keyword Arguments
##### Arbitary Arguments

In [51]:
# Default Arguments
def power(a=1,b=1):
    return a**b   # Here we are providing default values or parameter in function so if user provide only one input the code still runs

In [55]:
print(power(3,2))
print(power(3))  # Code is still running cause we have default parameter for both a and b provided in function

9
3

In [56]:
# Positional arguments means the order we are sending our input should be according to the parameters present in the function

In [59]:
# Keyword arguments --> Here we explicitly tell the order and name of parameter as well as the value we are providing to each parameter

power(b=3,a=2)   # It is not following the order of positional argument rather we have explicitly provided the value assigenment to each parameter
                # It is used when we have so many parameters in the function

8

In [60]:
# Arbitary Functions -->In Python, arbitrary parameters allow functions to accept a variable number of arguments
# It means you don't need to know beforehand how many arguments will be passed to the function.
# Arbitrary Positional Arguments (*args)
# Arbitrary Keyword Arguments (**kwargs)

In [66]:
def flexi(*number):
    product=1
    for i in number:
        product = product*i
    print(product)

# This function multiplies all the inputs and retruns it

In [67]:
flexi(1)

1

In [68]:
flexi(1,2,2,34,2,3,23,2,3,3)

337824

In [69]:
# A function can use global variable but it cannot make any change in the global variable

In [70]:
# Nested function is hidden from the main function and if we try to run nested function it will show error

In [72]:
# Everything in python is object

def f(num):
    return num**2

In [76]:
x=f    # now x has also  become the funtion cause everything in python is object

In [77]:
x(2)

4

In [81]:
del f    # funtion f is deleted but function x is still there --> call by reference

In [79]:
x(3)

9

In [82]:
type(x)

function

In [85]:
list=[1,2,3,4,5,x]
list           # Because function is an object we are able to use it in the list

[1, 2, 3, 4, 5, <function __main__.f(num)>]

In [90]:
# We can delete function
# functions can be renamed
# returning a function is possible
# storing a function is possible
# function can be passed as arguments

In [91]:
# Advantages of functions
# 1 . Code modularity --> breaking logics of code into pieces
# 2. Code readablity 
# 3. Code reusablity

### Recursion
#####  Recursion in Python refers to a function that calls itself in order to solve a problem. Recursive functions break down a problem into smaller instances of the same problem, solving each instance until it reaches a base case, which stops the recursion.
###### Base Case: The condition under which the recursion stops. Without a base case, recursion would continue indefinitely, leading to a stack overflow.
###### Recursive Case: The part of the function where the function calls itself with a modified version of its input.

###### Palimdrone - A palindrome is a word, number, phrase, or sequence of characters that reads the same forward and backward (ignoring spaces, punctuation, and capitalization). In Python, you can easily check if a string is a palindrome by comparing it to its reversed version.
#####  Memoization
###### Memoization is an optimization technique used to speed up recursive algorithms by storing the results of expensive function calls and reusing them when the same inputs occur again. It’s particularly useful when solving problems like calculating the Fibonacci series, dynamic programming problems, or any computation-heavy function that involves repeated calls with the same parameters.

In [97]:
# normal code to multiply numbers
def multiply(a,b):
    result= 0
    for i in range(b):
        result = result + a
    print(result)

In [98]:
multiply(4,5)

20

In [100]:
# code using recursion

def mul(a,b):

    if b==1:         # This is the base condition/case
        return a
    else:
        return a + mul(a,b-1)   # recursive case where the function is calling itself 
         
print(mul(5,5))

25

In [101]:
# Recursion works just like stack where the function which comes in the last is solved first and the funtion which comes first is solved in last

In [103]:
# Factorial of a given number using recusion

def fact(num):
    if num == 1:
        return 1
    else:
        return num*fact(num-1)
print(fact(6))

720

In [109]:
# Palindrome or not 

def pali(text):
    if len(text)<=1:              # base conditon or base case  # making it <= so that it can also work with text with even elements
        print("Palindrome")
    else:
        if text[0]==text[-1]:
            pali(text[1:-1])
        else:
            print("Not a palindrome")
pali("madam")
pali("malayalam")
pali("python")
pali("vaav")

Palindrome
Palindrome
Not a palindrome
Palindrome

In [1]:
# python has a recursive limit of 1000
# The Fibonacci series is a sequence of numbers where each number is the sum of the two preceding ones, usually starting with 0 and 1.

In [19]:
# Fibonacci series
import time
def fib(num):
    if num==0 or num==1:
        return 1
    else:
        return fib(num-1) + fib(num-2)
        
start = time.time()
print(fib(30))
print(time.time()-start)


#  This is not an efficient code cause it takes 2 power n time complexity

1346269
0.36695313453674316

In [24]:
# Efficient code for fibonacci series 

import time 
def memo(m,d):   # using a dictionary (d) to store the calculated fibonacci 
    if m in d:        
        return d[m]
    else:
        d[m]=memo(m-1,d) + memo(m-2,d)
        return d[m]
start=time.time()
d={0:1,1:1}
print(memo(100,d))
print(time.time()-start)

573147844013817084101
0.0

### Lambda function
##### A lambda function in Python is a small, anonymous function that is defined without a name. It is used for creating small, one-line functions on the fly, usually when the function is required for a short period and you don't want to define a full function using def.
##### Lambda has no return value rather it itself is a fuction and it is returened

###### # Lambda input: expression

In [30]:
a= lambda x:x**2  # finding power of any number

In [31]:
a(9)

81

In [32]:
b= lambda x,y:x+y      # Adding two numbers

In [33]:
b(4,5)

9

In [34]:
c = lambda x:"Even" if x%2==0 else "odd"

In [35]:
c(3)

'odd'

In [36]:
c(4)

'Even'

### JSON data --> Javascript object notation
##### It is basically used to storing and transferring data between the browser(client) and server
##### Parsing of json --> Convertion json text to dictionary so that we can access the data using keys 
##### Paring of json --> Combining two or more json objects 
##### Cleaning or modifying json --> removes the falsy(none, false,0) values or unwanted values from json file

In [8]:
# Parsing of json


import json
data = '{"Name":"Vipul", "gender":"Male", "age":"","extra_value":"some_value"}'
print(type(data))  # It is an string so we cannot use keys to get the values from the data , now we need to parse this json to dictionary 
parsed_json= json.loads(data)
print(type(parsed_json))
print(parsed_json)
print(parsed_json['gender'])

<class 'str'>
<class 'dict'>
{'Name': 'Vipul', 'gender': 'Male', 'age': '', 'extra_value': 'some_value'}
Male

In [10]:
# Paring of Json

data1={
    "Name":"Vipul",
    "gender":"Male",
}

data2={
    "age":"",
    "extra_value":"some_value"   
}
merged_data={**data1,**data2}
print(merged_data)

{'Name': 'Vipul', 'gender': 'Male', 'age': '', 'extra_value': 'some_value'}

In [14]:
# Cleaning of Json
data = {"Name":"Vipul", "gender":"Male", "age":"","extra_value":"some_value"}
cleaned_data={k:v for k,v in data.items() if v and k!="extra_value"}
print(cleaned_data)

# empty value is removed as well as the extra_value filtered by us is also removed

{'Name': 'Vipul', 'gender': 'Male'}

### Object Oriented Programming
##### Object-Oriented Programming (OOP) in Python is a programming paradigm that relies on the concept of objects, which are instances of classes. OOP allows you to model real-world entities using objects that have attributes (properties) and methods (behaviors).
###### Class, Objects, Attributes, Methods
###### Inhertence
###### Encapsulation
###### Polymorphism
###### Abstraction

In [37]:
# datatype --> class and if we make object of any variable using the datatype it is now referred as object

In [43]:
# Class is a blueprint how an object will behave
# Object is  the instance of a class
# The object is an entity that has a state and behavior associated with it.

In [40]:
# Class --> Data or property   ,   functions or behavior

In [41]:
# ThisIsPascalCase ----> used in oops
# thisIsCamelCase  
# snake_case ---> combined using underscore

In [42]:
# Whenever we create class it is always created in PascalCase and the data of class should be in snake_case

In [1]:
# Method is a special type of function written inside of a class
# len() --> funtion
# l.append() --> method 
# state of object --> attribute ( class dog -- breed , colour, age)
# behaviour --> method of object. (sleeping , eating , running,barking) -- It also reflects the response of an object to other objects.

In [46]:
# constructor --> It is a special method in which the code automatically executes when we create object of that particular class 
# contructor in python --> __init__   -> It is also a magic method

In [48]:
# The object we are currently working with is self
 # def __init__(self):

# Attributes are the variable that belong to the class
# Attributes are always public and can be accessed using the dot (.) operator. Eg.: Myclass.Myattribute

In [6]:
class dog:
    pass              #  --->  creating a class

In [7]:
obj=dog()          #---> creating an object

In [ ]:
# self in python -->using the “self”  we can access the attributes and methods of the class in Python